body {
    background-color: #f6f6f6;
}

.row {
    /* DA CANCELLARE */
    /* height: 100px; */
}

[class^=col-] {
    /* DA CANCELLARE */
    background-color: white;
    border: 1px solid black;
    border-top: 3px solid black;
    padding: 15px;
    margin: 5px 0;
    text-align: center;
    /* line-height: 100px; */
}

img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .second div {
        height: 100%;
    }
}
